body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  background-color: #000033;
  background-image: linear-gradient(60deg, #000033, #000001);
  color: antiquewhite;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: xx-large;
}
.grid-cell{
    padding:1fr 0;
    border: 3px solid green;
    vertical-align: middle;
}
#face {
  width: 300px;
  height: 100%;
  object-fit: contain;
  border-radius: 7px
}

#name {
    font-size: xx-large;
    font-weight: bold;
}

.square {
    position:absolute;
    width: 5px;
    height: 5px;
    margin: 1px;
    border: 1px solid rgba(245, 242, 242, 0.2);
    border-radius: 50%;
  }
#animation{
    z-index: 0;
}
.container{
    display:grid;
}
.content {
    grid-area: 1 / 1;
}
.overlay {
    grid-area: 1 / 1;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 0;
}